@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Vujahday+Script&display=swap');

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box	;
	font-family: 'Dongle', sans-serif;
	font-size: 25px;
}

.background-image{
		background-image: url(./img/main.jpg);
		background-size: auto;
		background-repeat: no-repeat;
/*		height: 100vh;
		width: 100vh;*/
}

header, ul{
	display: flex;
	justify-content: space-between;
	margin: 20px 15px;
}
 .logo{
 	margin-left: 20px;
 	list-style: none;
 	text-decoration: none;
 }

 ul, a{
    list-style: none;
 	text-decoration: none;
 }

a{
	margin: 10px 10px 10px 10px;
}