@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
	font-family: 'Roboto Mono', monospace;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-weight: bold;
}

header{
	width: 100%;
	height: 100vh;
	background-image: url(img/main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: whitesmoke;
}

nav{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);

}

ul{
	display: flex;
	justify-content: space-around;
	margin-right: 10px;
}

li, a, .logo{
	text-decoration: none;
	list-style: none;
	color: whitesmoke;
}

.logo{
	margin-left: 50px;
    font-size: 20px;
}

li{
	margin: 10px;

}

.intro{
	height: 50%;
	width: 50%;
	/*border: 1px solid whitesmoke;*/
	margin: 50px 0 0 50px;
}

.intro h3{
	margin-bottom: 20px;
	font-size: 50px;
}

.intro h1{
	margin-bottom: 10px;
}

.intro p{
	color: #FFFBE9;
	font-size: 20px;
}

.join-us{
	margin-top: 40px;
	padding: 10px 20px;
    border-radius: 20%;
    background-color: #C74B50;
    color: whitesmoke;
    border-color: #C74B50;
}

.join-us:hover{
	background-color: whitesmoke;
	color: #C74B50;
	transition: 0.5s;
	font-weight: bold;
	cursor: pointer;
}

.intro-in-depth{
	width: 75%;
	height: 50vh;
	margin: auto;
	text-align: center;
}

.intro-in-depth img{
	height: 40px;
	width: 40px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.intro-in-depth h4{
	margin-bottom: 30px;
}

.intro-in-depth p{
    padding-bottom: 60px;
}

.intro-in-depth li{
	height: 100%;
	width: 300px;
	margin-top: 100px;
	background-color: darkred;
	opacity: 0.8;
	border-radius: 10px;
}

.intro-in-depth::before{
	content: '';
    background: url(img/second-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    opacity: 0.7;
    height: 80vh;
    width: 100%;
}

.speciality{
/*	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));*/
	background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/third-page.jpg); 
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	margin-top: 187px;
	color: whitesmoke;
}

.speciality h1{
	padding-top: 100px;
	padding-left: 100px;
}

.hero{
	display: flex;
}
.second-container{
	position: relative;
	top:100px ;
	left: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr 1fr;
	column-gap: 20px;
	grid-row-gap: 20px;
	text-align: center;

}

.second-container div{
    background: rgba(0, 0, 0, 0.2);
    padding: 30px; 
    border-radius: 20px;

}
.second-container span{
	font-size: 40px;
	margin-bottom: 20px;
	color: orange;
}

video{
	position: relative;
	top: 140px;
	left: 400px;
	height: 165px;
	width: 290px;
	opacity: 0.7;
	border-radius: 20px;
}

footer{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/contact.jpg), no-repeat, center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: whitesmoke;
}

.left-content{
	height: 70%;
	width: 80%;
    background-image: linear-gradient(to right top, #ffffff, #f0f0f0, #e1e1e1, #d2d2d2, #c4c4c4);
    opacity: 0.5;
	margin: 20px;
	border-radius: 20px;
}

form{
    padding-left: 30px;
    padding-top: 40px;
}

.left-content h3{
    margin-bottom: 10px;
    color: black;
    opacity: 1.0;
}

hr{
    margin-bottom: 30px;
	margin-right: 20px;
}

input[type="text"]{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
	height: 50px;
	width: 300px;
	border-radius: 25px;
	color: white;
	padding: 20px;
	border-color: white;
}

input[type="email"]{
	margin-top: 40px;
	margin-bottom: 40px;
	height: 50px;
	width: 300px;
	border-radius: 25px;
	background: whitesmoke;
	padding: 20px;
	border-color: white;
}

#message{
	margin-bottom: 40px;
	height: 150px;
	width: 500px;
	border-radius: 25px;
	background: whitesmoke;
	border-color: black;
	padding-right: 250px;
}

.left-content button{
	position: relative;
	bottom: 70px;
	left: 30px;
	padding: 10px 40px;
	border-radius: 25px;
}